body {
  font-family: "DM Sans", sans-serif;
  color: #7d7e91;
  font-size: 18px;
  line-height: 30px;
  background-color: #f9fafc;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input,
button,
submit {
  border: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

h1 {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #14142a;
  font-size: 62px;
  line-height: 80px;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
  margin-bottom: 18px;
  color: #14142a;
  font-size: 38px;
  line-height: 52px;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #14142a;
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
}

h4 {
  margin: 0;
  color: #14142a;
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
}

h5 {
  margin: 0;
  color: #14142a;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h6 {
  margin: 0;
  color: #14142a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

p {
  margin-bottom: 0px;
}

a {
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  color: #14142a;
  text-decoration: none;
}

a:hover {
  color: #eba37a;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #14142a;
  font-weight: 500;
}

strong {
  color: #14142a;
  font-weight: 700;
}

blockquote {
  margin-bottom: 10px;
  padding: 50px 38px;
  border-style: solid;
  border-width: 1px 1px 1px 4px;
  border-color: #e4e5e9 #e4e5e9 #e4e5e9 #14142a;
  background-color: #fff;
  font-size: 18px;
  line-height: 30px;
}

.button-primary {
  padding: 20px 40px;
  border-radius: 80px;
  background-color: #14142a;
  -webkit-transition: background-color 350ms ease, box-shadow 300ms ease,
    -webkit-transform 300ms ease;
  transition: background-color 350ms ease, box-shadow 300ms ease,
    -webkit-transform 300ms ease;
  transition: background-color 350ms ease, transform 300ms ease,
    box-shadow 300ms ease;
  transition: background-color 350ms ease, transform 300ms ease,
    box-shadow 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: lowercase;
}

.button-primary:hover {
  background-color: #eba37a;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
  color: #fff;
}

.button-primary.small {
  padding: 14px 26px;
  font-size: 16px;
  line-height: 18px;
}

.button-primary.large {
  padding: 24px 56px;
  font-size: 22px;
  line-height: 24px;
}

.button-secondary {
  padding: 20px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e5e9;
  border-radius: 80px;
  background-color: #fff;
  -webkit-transition: color 300ms ease, background-color 300ms ease,
    -webkit-transform 350ms ease;
  transition: color 300ms ease, background-color 300ms ease,
    -webkit-transform 350ms ease;
  transition: transform 350ms ease, color 300ms ease,
    background-color 300ms ease;
  transition: transform 350ms ease, color 300ms ease,
    background-color 300ms ease, -webkit-transform 350ms ease;
  color: #14142a;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: lowercase;
}

.button-secondary:hover {
  background-color: #14142a;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
  color: #fff;
}

.button-secondary.small {
  padding: 14px 32px;
  font-size: 16px;
  line-height: 18px;
}

.button-secondary.small:hover {
  color: #fff;
}

.button-secondary.large {
  padding: 24px 68px;
  background-color: transparent;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
}

.button-secondary.large:hover {
  background-color: #14142a;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 100px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
}

.home-hero-section {
  max-width: 1300px;
  margin: auto;
}

.home-hero-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-hero-container-buttons {
  margin-top: 40px;
}

.home-hero-container-buttons > *:nth-child(2) {
  margin-left: 10px;
}

.home-hero-container-right {
  display: flex;
  align-items: center;
}

.home-hero-container-image {
  position: absolute;
  left: auto;
  right: 0%;
  z-index: -1;
  width: 51%;
  -o-object-fit: cover;
  object-fit: cover;
}

.home-hero-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 120px;
  margin-bottom: 80px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.home-hero-info-container > *:first-child {
  border: none;
}

.home-hero-info-container-box {
  border-left: 1px solid #aeb0bd;
}

.home-why-section {
  background-color: white;
}

.home-why-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1300px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.home-why-container-right {
  display: flex;
  align-items: center;
}

.home-services-container {
  padding-bottom: 100px;
  padding-top: 100px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.home-services-text {
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
}

.home-services-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-services-card-text {
  padding: 40px;
  border: 1px solid #e4e5e9;
  background-color: white;
}

.home-pricing-section {
  background-color: white;
}

.home-pricing-container {
  max-width: 1300px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-pricing-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
}

.home-pricing-item {
  margin-bottom: 20px;
}

.home-pricing-item-p {
  margin: 0;
  padding: 0;
}

.home-pricing-item {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  gap: 20px;
}

.home-contact-container {
  max-width: 1300px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-contact-info-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
}

.home-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #e4e5e9;
  border-bottom: 1px solid #e4e5e9;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1300px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.home-links-container-title {
  font-weight: 500;
  color: black;
}

.home-links-container-link {
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  color: #7d7e91;
  font-weight: normal;
  text-decoration: none;
}

.home-bottom-container {
  max-width: 1300px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.home-bottom-container-text {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
}

.home-footer {
  background-color: white;
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .home-hero-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .home-hero-container-image {
    position: static;
    left: static;
    right: static;
    z-index: -1;
    -o-object-fit: none;
    object-fit: scale-down;
    width: 100%;
  }

  .home-hero-container-right {
    display: flex;
    justify-content: center;
  }
  .home-hero-info-container {
    grid-template-columns: 1fr;
    margin-top: 0;
    margin-bottom: 0;
  }
  .home-hero-info-container-box {
    border-top: 1px solid #aeb0bd;
    border-left: none;
    padding: 30px;
  }
  .home-why-container {
    grid-template-columns: 1fr;
  }

  .home-services-cards-container {
    grid-template-columns: 1fr;
  }

  .home-pricing-item-container {
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: left;
  }

  .home-contact-info-container {
    grid-template-columns: 1fr;
  }
  .home-links-container {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 20px;
  }
  h1 {
    font-size: 57px;
  }
}

.about-header-container {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.about-story-section {
  background-color: white;
}
